body {
  background-color: #fff;
  color: #6c6c6f;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 27px; }

a {
  text-decoration: none; }
  a:hover {
    color: #ff817e !important; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rufina', serif;
  font-weight: 700; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

section {
  padding: 50px 0; }

.row {
  margin-left: 0;
  margin-right: 0; }

.navbar .nav-item {
  color: #263a41;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase; }

.navbar-toggler {
  border: 0;
  padding: 0.25rem 1.75rem; }

.banner {
  background-image: url("../../images/banner/leaf.png");
  background-position-x: left;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 12.5%;
  padding: 8% 0;
  position: relative; }
  .banner__spa-image {
    display: none; }
  .banner__title {
    color: #ff817e;
    font-family: "Rufina";
    font-weight: 400;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    text-transform: uppercase; }
  .banner__heading {
    color: #1e2528;
    font-size: 50px;
    line-height: 60px;
    margin-top: 25px; }
  .banner__desc {
    color: #888;
    margin-bottom: 50px;
    margin-top: 20px; }
  .banner__btn {
    background-color: #ff817e;
    border: 1px solid #ff817e;
    border-radius: 50px;
    padding: 15px 10px;
    text-decoration: none;
    text-transform: uppercase; }
    .banner__btn:hover {
      background-color: #fff;
      border-color: #ff817e;
      color: #ff817e; }
  .banner__video-btn {
    color: #555;
    font-size: 12px;
    margin-left: 15px; }
    .banner__video-btn:hover {
      color: #ff817e;
      text-decoration: underline; }
    .banner__video-btn__title-play {
      color: #ff817e;
      font-family: "Rufina";
      font-weight: 400;
      letter-spacing: 1.5px;
      margin-bottom: 20px;
      text-transform: uppercase;
      font-size: 15px; }

@media screen and (min-width: 768px) {
  .banner__spa-image {
    display: block;
    position: absolute;
    right: 0;
    top: -103px;
    width: 43.4%;
    z-index: -1; } }

.about {
  position: relative; }
  .about__img {
    margin-bottom: 150px; }
    .about__img__flower-rose {
      left: 16%;
      min-width: 160px;
      position: absolute; }
  .about__abt > img {
    left: 70%;
    position: absolute;
    top: 0; }
  .about__abt__tagline {
    color: #888;
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 0.8;
    margin-bottom: 30px;
    text-transform: uppercase; }
  .about__abt__sec-title {
    color: #1e2528;
    font-size: 35px;
    margin-bottom: 30px; }
  .about__abt__desc {
    color: #888;
    font-weight: 400; }
  .about__read-more__btn {
    background-color: #ff817e;
    border: 1px solid #ff817e;
    border-radius: 50px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    line-height: 0.8;
    width: 170px; }
    .about__read-more__btn:hover {
      background-color: #fff;
      border-color: #ff817e; }

.service {
  margin-bottom: 40px; }
  .service__single-service {
    cursor: pointer;
    overflow: hidden;
    position: relative; }
    .service__single-service > img {
      width: 100%; }
    .service__single-service--hover {
      align-items: center;
      background-color: rgba(255, 129, 126, 0.9);
      bottom: -100%;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      position: absolute;
      transition: 0.5s;
      width: 100%; }
      .service__single-service--hover span {
        color: #fff;
        font-family: 'Rufina';
        font-weight: 700;
        margin-top: 3%; }
  .service__one:hover .service__single-service--hover {
    bottom: 0; }
  .service__two, .service__three, .service__four {
    display: none; }

@media screen and (min-width: 768px) {
  .service__two,
  .service__three {
    display: block; }
    .service__two:hover .service__single-service--hover,
    .service__three:hover .service__single-service--hover {
      bottom: 0; } }

@media screen and (min-width: 992px) {
  .service__four {
    display: block; }
    .service__four:hover .service__single-service--hover {
      bottom: 0; } }

.procedures__sec-title {
  color: #1e2528;
  font-size: 32px;
  margin-bottom: 32px; }

.procedures__desc {
  color: #888;
  margin-bottom: 0; }

.procedures__post {
  border: 1px solid #e3e6ea;
  margin: 70px 0 30px;
  padding: 20px;
  text-align: center; }
  .procedures__post:hover {
    box-shadow: 0 5px 20px #f0f0f0; }
  .procedures__post > img {
    margin-bottom: 35px;
    width: 100%; }
  .procedures__post__heading a {
    color: #263a41;
    font-size: 22px; }
  .procedures__post__desc {
    color: #888;
    margin-bottom: 40px; }
  .procedures__post__btn {
    background-color: #ff817e;
    border: 0;
    border-radius: 50px;
    padding: 15px 30px;
    text-decoration: none;
    text-transform: uppercase; }
    .procedures__post__btn:hover {
      background-color: #252129;
      color: #fff; }

@media screen and (min-width: 768px) {
  .procedures__sec-title {
    font-size: 42px;
    margin-bottom: 32px; } }

.testimonial {
  background-color: #fff9f8;
  text-align: center; }
  .testimonial .carousel-indicators {
    margin-bottom: 30px; }
    .testimonial .carousel-indicators .carousel-btn {
      background-color: #ff817e; }
  .testimonial .single-tst > img {
    margin: 0 auto 45px; }
  .testimonial .single-tst p {
    color: #263a41;
    font-family: 'Rufina';
    font-size: 18px;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 40px; }
  .testimonial .single-tst .client-info > img {
    border-radius: 50px;
    height: 76px;
    margin-bottom: 22px;
    width: 76px; }
  .testimonial .single-tst .client-info p {
    font-size: 22px;
    margin-bottom: 0; }
    .testimonial .single-tst .client-info p span {
      display: inline-block;
      font-size: 15px;
      font-weight: 400; }

.team__section-heading {
  margin-bottom: 70px; }
  .team__section-heading__sec-title {
    color: #1e2528;
    font-weight: 500;
    margin-bottom: 32px; }
  .team__section-heading__desc {
    color: #888;
    margin-bottom: 0; }

.team__single-member {
  margin-bottom: 30px; }
  .team__single-member > img {
    height: auto;
    width: 100%; }
  .team__single-member__member-info {
    background-color: #fff;
    box-shadow: 0 5px 20px #f0f0f0;
    cursor: pointer;
    padding: 20px 0; }
    .team__single-member__member-info:hover ul {
      visibility: visible; }
    .team__single-member__member-info h6 {
      color: #263a41;
      font-size: 22px;
      margin-bottom: 0; }
    .team__single-member__member-info span {
      display: block;
      margin-bottom: 15px; }
    .team__single-member__member-info--member-social {
      padding-bottom: 15px;
      visibility: hidden; }
      .team__single-member__member-info--member-social li {
        display: inline-block; }
        .team__single-member__member-info--member-social li:not(:last-child) {
          margin-right: 10px; }
        .team__single-member__member-info--member-social li a {
          display: block;
          height: 40px;
          transition: 0.3s;
          width: 40px; }
        .team__single-member__member-info--member-social li:hover {
          opacity: 0.8; }
